<!-- templates/wp_login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>WordPress › Login</title>
    <link rel="stylesheet" href="/static/css/wp-login.css">
</head>
<body>
    <div id="login">
        <h1><a href="https://wordpress.org/">WordPress</a></h1>
        <form name="loginform" id="loginform" action="/wp-admin/" method="post">
            <p>
                <label for="user_login">Username or Email Address</label>
                <input type="text" name="log" id="user_login" class="input" required>
            </p>
            <p>
                <label for="user_pass">Password</label>
                <input type="password" name="pwd" id="user_pass" class="input" required>
            </p>
            <p class="submit">
                <input type="submit" name="wp-submit" id="wp-submit" value="Log In">
            </p>
        </form>
    </div>
</body>
</html>
